.hidden{
  visibility: hidden;
}

.error{
  color:red;
}

.flex{
  display: flex;
  justify-content: space-around  ;
  flex-wrap: wrap;
}

.user-thumb{
  width: 150px;
}

.my-btn{
  background-color: red;;
}

#some-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}